body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* 

.container {
display: grid; 
grid-template-columns: 2fr; 
grid-template-rows: 1.2fr 1.1fr 0.5fr 1.7fr 0.5fr 3.5fr 1.5fr 1.1fr; 
gap: 0px 0px; 
grid-template-areas: 
  "New-Goal-Name"
  "Settings"
  "Description\:"
  "Description-box"
  "Subtasks\:"
  "Subtask-list"
  "Plant-gif"
  "Add-to-Nursery-Button"; 
}
.New-Goal-Name {
justify-self: center; 
align-self: center; 
grid-area: New-Goal-Name; 
}
.Settings {
display: grid; 
grid-template-columns: 1fr; 
grid-template-rows: 1fr 1fr; 
gap: 0px 0px; 
grid-template-areas: 
  "Difficulty-Scale"
  "Deadline"; 
grid-area: Settings; 
}
.Deadline { grid-area: Deadline; }
.Difficulty-Scale { grid-area: Difficulty-Scale; }
.Description\: { grid-area: Description\:; }
.Description-box { grid-area: Description-box; }
.Subtasks\: { grid-area: Subtasks\:; }
.Subtask-list {
display: grid; 
grid-template-columns: 1fr; 
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
gap: 0px 0px; 
grid-template-areas: 
  "."
  "."
  "."
  "."
  "."
  "."; 
grid-area: Subtask-list; 
}
.Add-to-Nursery-Button {
justify-self: center; 
align-self: center; 
grid-area: Add-to-Nursery-Button; 
}
.Plant-gif {
justify-self: center; 
align-self: center; 
grid-area: Plant-gif; 
} */
